.c-carousel {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style-type: none;
  margin: 0 -5vw;
  overflow-x: scroll;
  padding: 0;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  width: 100vw;
  &::-webkit-scrollbar {
    display: none;
  }

  &__slide {
    flex-shrink: 0;
    font-size: var(--step--1);
    padding-left: 5vw;
    scroll-snap-align: start;
    width: 85%;

    article {
      width: auto;
    }
  }

  @media screen and (min-width: $bp-md) {
    scroll-snap-type: none;
    width: 100%;

    &__slide {
      flex-shrink: 1;
    }
  }
}
