.c-logo {
    height: 2.095rem;
    width: 4.286rem;
  
    @media screen and (min-width: $bp-lg) {
      height: 3.8125rem;
      width: 7.75rem;
    }
  
    @media screen and (min-width: $bp-xl) {
      height: 4.625rem;
      width: 9.375rem;
    }
  }