.c-site-nav {
  align-items: center;
  display: flex;
  justify-content: flex-end;

  ul {
    list-style-type: none;
    li {
      display: inline-block;

      & + li {
        margin-left: $spacing-s;

        @media screen and (min-width: $bp-md) {
          margin-left: $spacing-m;
        }

        @media screen and (min-width: $bp-lg) {
          margin-left: $spacing-l;
        }
      }

      a {
          color: $brand-black;
          font-weight: bold;
          text-decoration: none;
      }
    }
  }
}
