.c-wave-box {
    background-color: $brand-primary;
    margin-top: calc(2rem + 230px);
    // overflow: hidden;
    padding-bottom: $spacing-l;
    padding-top: $spacing-l;
    position: relative;
    width: 100vw;
  
    @media screen and (min-width: $bp-md) {
      margin-top: calc(4rem + 230px);
      padding-bottom: $spacing-xxl;
      padding-top: $spacing-xxl;
    }
    &::before {
      background-image: url("data:image/svg+xml,%3Csvg width='414' height='230' viewBox='0 0 414 230' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M-203 230V43.7324C-130.572 45.2384 -58.1443 46.7443 -7.5 40.9384C43.1443 35.1324 72.0041 22.0136 124.75 35.3504C177.496 48.6871 254.128 88.4813 314.5 80.9859C374.872 73.4905 418.985 18.7074 468.025 4.6162C517.065 -9.47495 571.033 17.1287 625 43.7324V230L-203 230Z' fill='%23F9B624'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='828' height='230' fill='white' transform='translate(625 230) rotate(-180)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-size: cover;
      content: '';
      height: 230px;
      left: 0;
      // max-width: 100vw;
      position: absolute;
      top: -90px;
      width: 100vw;
  
      @media screen and (min-width: $bp-sm) {
        top: -230px;
      }
  
      @media screen and (min-width: $bp-md) {
        background-image: url("data:image/svg+xml,%3Csvg width='1356' height='230' viewBox='0 0 1356 230' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M-1016 230V43.7324C-808.513 45.2384 -601.027 46.7443 -455.944 40.9384C-310.862 35.1324 -228.186 22.0136 -77.0834 35.3504C74.0197 48.6871 293.55 88.4813 466.5 80.9859C639.45 73.4905 765.822 18.7074 906.308 4.6162C1046.79 -9.47495 1201.4 17.1287 1356 43.7324V230L-1016 230Z' fill='%23F9B624'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='2372' height='230' fill='white' transform='translate(1356 230) rotate(-180)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      }
    }
    &::after {
      background-image: url("data:image/svg+xml,%3Csvg width='414' height='230' viewBox='0 0 414 230' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M-203 230V43.7324C-130.572 45.2384 -58.1443 46.7443 -7.5 40.9384C43.1443 35.1324 72.0041 22.0136 124.75 35.3504C177.496 48.6871 254.128 88.4813 314.5 80.9859C374.872 73.4905 418.985 18.7074 468.025 4.6162C517.065 -9.47495 571.033 17.1287 625 43.7324V230L-203 230Z' fill='%23F9B624'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='828' height='230' fill='white' transform='translate(625 230) rotate(-180)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-size: cover;
      bottom: -85px;
      content: '';
      height: 230px;
      left: 0;
      // max-width: 100vw;
      position: absolute;
      transform: rotate(180deg);
      width: 100vw;
      z-index: -1;
  
      @media screen and (min-width: $bp-sm) {
        background-image: url("data:image/svg+xml,%3Csvg width='1356' height='230' viewBox='0 0 1356 230' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M-1016 230V43.7324C-808.513 45.2384 -601.027 46.7443 -455.944 40.9384C-310.862 35.1324 -228.186 22.0136 -77.0834 35.3504C74.0197 48.6871 293.55 88.4813 466.5 80.9859C639.45 73.4905 765.822 18.7074 906.308 4.6162C1046.79 -9.47495 1201.4 17.1287 1356 43.7324V230L-1016 230Z' fill='%23F9B624'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='2372' height='230' fill='white' transform='translate(1356 230) rotate(-180)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        background-position: right top;
        bottom: -155px;
        left: auto;
        right: 0;
        width: 100%;
      }
  
      @media screen and (min-width: $bp-md) {
        background-image: url("data:image/svg+xml,%3Csvg width='1356' height='230' viewBox='0 0 1356 230' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M-1016 230V43.7324C-808.513 45.2384 -601.027 46.7443 -455.944 40.9384C-310.862 35.1324 -228.186 22.0136 -77.0834 35.3504C74.0197 48.6871 293.55 88.4813 466.5 80.9859C639.45 73.4905 765.822 18.7074 906.308 4.6162C1046.79 -9.47495 1201.4 17.1287 1356 43.7324V230L-1016 230Z' fill='%23F9B624'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='2372' height='230' fill='white' transform='translate(1356 230) rotate(-180)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        background-position: right top;
        left: auto;
        right: 0;
        width: 100%;
      }
    }
  
    & + .c-wave-box {
      margin-top: 50px;
  
      @media screen and (min-width: $bp-sm) {
        margin-top: 230px;
      }
    }
  
    &.secondary {
      background-color: $brand-secondary;
      color: $brand-white;
  
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='414' height='230' viewBox='0 0 414 230' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M-203 230V43.7324C-130.572 45.2384 -58.1443 46.7443 -7.5 40.9384C43.1443 35.1324 72.0041 22.0136 124.75 35.3504C177.496 48.6871 254.128 88.4813 314.5 80.9859C374.872 73.4905 418.985 18.7074 468.025 4.6162C517.065 -9.47495 571.033 17.1287 625 43.7324V230L-203 230Z' fill='%23f6421e'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='828' height='230' fill='white' transform='translate(625 230) rotate(-180)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  
        @media screen and (min-width: $bp-md) {
          background-image: url("data:image/svg+xml,%3Csvg width='1356' height='230' viewBox='0 0 1356 230' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M-1016 230V43.7324C-808.513 45.2384 -601.027 46.7443 -455.944 40.9384C-310.862 35.1324 -228.186 22.0136 -77.0834 35.3504C74.0197 48.6871 293.55 88.4813 466.5 80.9859C639.45 73.4905 765.822 18.7074 906.308 4.6162C1046.79 -9.47495 1201.4 17.1287 1356 43.7324V230L-1016 230Z' fill='%23f6421e'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='2372' height='230' fill='white' transform='translate(1356 230) rotate(-180)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        }
      }
  
      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='414' height='230' viewBox='0 0 414 230' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M-203 230V43.7324C-130.572 45.2384 -58.1443 46.7443 -7.5 40.9384C43.1443 35.1324 72.0041 22.0136 124.75 35.3504C177.496 48.6871 254.128 88.4813 314.5 80.9859C374.872 73.4905 418.985 18.7074 468.025 4.6162C517.065 -9.47495 571.033 17.1287 625 43.7324V230L-203 230Z' fill='%23f6421e'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='828' height='230' fill='white' transform='translate(625 230) rotate(-180)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  
        @media screen and (min-width: $bp-md) {
          background-image: url("data:image/svg+xml,%3Csvg width='1356' height='230' viewBox='0 0 1356 230' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M-1016 230V43.7324C-808.513 45.2384 -601.027 46.7443 -455.944 40.9384C-310.862 35.1324 -228.186 22.0136 -77.0834 35.3504C74.0197 48.6871 293.55 88.4813 466.5 80.9859C639.45 73.4905 765.822 18.7074 906.308 4.6162C1046.79 -9.47495 1201.4 17.1287 1356 43.7324V230L-1016 230Z' fill='%23f6421e'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='2372' height='230' fill='white' transform='translate(1356 230) rotate(-180)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        }
      }
    }

    &.tertiary {
      background-color: $brand-tertiary;
      color: $brand-white;
  
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='414' height='230' viewBox='0 0 414 230' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M-203 230V43.7324C-130.572 45.2384 -58.1443 46.7443 -7.5 40.9384C43.1443 35.1324 72.0041 22.0136 124.75 35.3504C177.496 48.6871 254.128 88.4813 314.5 80.9859C374.872 73.4905 418.985 18.7074 468.025 4.6162C517.065 -9.47495 571.033 17.1287 625 43.7324V230L-203 230Z' fill='%23525589'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='828' height='230' fill='white' transform='translate(625 230) rotate(-180)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  
        @media screen and (min-width: $bp-md) {
          background-image: url("data:image/svg+xml,%3Csvg width='1356' height='230' viewBox='0 0 1356 230' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M-1016 230V43.7324C-808.513 45.2384 -601.027 46.7443 -455.944 40.9384C-310.862 35.1324 -228.186 22.0136 -77.0834 35.3504C74.0197 48.6871 293.55 88.4813 466.5 80.9859C639.45 73.4905 765.822 18.7074 906.308 4.6162C1046.79 -9.47495 1201.4 17.1287 1356 43.7324V230L-1016 230Z' fill='%23525589'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='2372' height='230' fill='white' transform='translate(1356 230) rotate(-180)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        }
      }
  
      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='414' height='230' viewBox='0 0 414 230' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M-203 230V43.7324C-130.572 45.2384 -58.1443 46.7443 -7.5 40.9384C43.1443 35.1324 72.0041 22.0136 124.75 35.3504C177.496 48.6871 254.128 88.4813 314.5 80.9859C374.872 73.4905 418.985 18.7074 468.025 4.6162C517.065 -9.47495 571.033 17.1287 625 43.7324V230L-203 230Z' fill='%23525589'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='828' height='230' fill='white' transform='translate(625 230) rotate(-180)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  
        @media screen and (min-width: $bp-md) {
          background-image: url("data:image/svg+xml,%3Csvg width='1356' height='230' viewBox='0 0 1356 230' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M-1016 230V43.7324C-808.513 45.2384 -601.027 46.7443 -455.944 40.9384C-310.862 35.1324 -228.186 22.0136 -77.0834 35.3504C74.0197 48.6871 293.55 88.4813 466.5 80.9859C639.45 73.4905 765.822 18.7074 906.308 4.6162C1046.79 -9.47495 1201.4 17.1287 1356 43.7324V230L-1016 230Z' fill='%23525589'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='2372' height='230' fill='white' transform='translate(1356 230) rotate(-180)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        }
      }
    }
  }