---
title: Michael Smedley | Front End Web Developer
description: Michael Smedley is a web developer based in the UK
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description }}" />
    {% include '_head/favicon.njk' %}
    <title>{{ title }}</title>
    <link rel="preload" href="/assets/fonts/Fraunces.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/Inter-roman.var.woff2" as="font" type="font/woff2" crossorigin>
    <link href="/assets/styles/style.css" rel="stylesheet" type="text/css"/>
    {% include '_head/og.njk' %}
    <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/assets/sw.js');
      });
    }
    </script>
  </head>
  <body>
    {% include '_components/header.njk' %}
    <main>
    {{ content | safe }}
    </main>
    {% include '_components/footer.njk' %}
  </body>
</html>