/***** Project colors *****/

$brand-primary: #f9b624;
$brand-secondary: #f6421e;
$brand-tertiary: #525589;
$brand-white: #f4e6d2;
$brand-black: #211c18;
$brand-secondary-600: #c53518;
$brand-tertiary-600: #42446e;

