/***** Project fonts *****/

@mixin desktop-h1 {
    font-family: 'Fraunces', Georgia, serif;
    font-size: 3.488rem;
    font-variation-settings: "SOFT" 100, "WONK" 1;
    font-weight: 900;
    line-height: 1;
  }
  
  @mixin desktop-h2 {
    font-family: 'Fraunces', Georgia, serif;
    font-size: 2.79rem;
    font-variation-settings: "SOFT" 100, "WONK" 1;
    font-weight: 900;
    line-height: 1;
  }
  
  @mixin mobile-h1 {
    font-family: 'Fraunces', Georgia, serif;
    font-size: 2.488rem;
    font-variation-settings: "SOFT" 100, "WONK" 1;
    font-weight: 900;
    line-height: 1;
  }
  
  @mixin desktop-h3 {
    font-family: 'Fraunces', Georgia, serif;
    font-size: 2.232rem;
    font-variation-settings: "SOFT" 100, "WONK" 1;
    font-weight: 900;
    line-height: 1;
  }
  
  @mixin mobile-h2 {
    font-family: 'Fraunces', Georgia, serif;
    font-size: 2.074rem;
    font-variation-settings: "SOFT" 100, "WONK" 1;
    font-weight: 900;
    line-height: 1;
  }
  
  @mixin desktop-h4 {
    font-family: 'Fraunces', Georgia, serif;
    font-size: 1.786rem;
    font-variation-settings: "SOFT" 100, "WONK" 1;
    font-weight: 900;
    line-height: 1;
  }
  
  @mixin mobile-h3 {
    font-family: 'Fraunces', Georgia, serif;
    font-size: 1.728rem;
    font-variation-settings: "SOFT" 100, "WONK" 1;
    font-weight: 900;
    line-height: 1;
  }
  
  @mixin mobile-h4 {
    font-family: 'Fraunces', Georgia, serif;
    font-size: 1.44rem;
    font-variation-settings: "SOFT" 100, "WONK" 1;
    font-weight: 900;
    line-height: 1;
  }
  
  @mixin desktop-h5 {
    font-family: 'Fraunces', Georgia, serif;
    font-size: 1.429rem;
    font-variation-settings: "SOFT" 100, "WONK" 1;
    font-weight: 900;
    line-height: 1;
  }
  
  @mixin mobile-h5 {
    font-family: 'Fraunces', Georgia, serif;
    font-size: 1.2rem;
    font-variation-settings: "SOFT" 100, "WONK" 1;
    font-weight: 900;
    line-height: 1;
  }
  
  @mixin desktop-button {
    font-family: 'Fraunces', Georgia, serif;
    font-size: 1.143rem;
    font-variation-settings: "SOFT" 100, "WONK" 1;
    font-weight: 900;
    line-height: 1;
  }
  
  @mixin desktop-p {
    font-family: 'Inter var', Arial, sans-serif;
    font-size: 1.143rem;
    line-height: 1.5;
  }
  
  @mixin mobile-p {
    font-family: 'Inter var', Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
  }
  
  @mixin desktop-sm {
    font-family: 'Inter var', Arial, sans-serif;
    font-size: 0.731rem;
    line-height: 1.5;
  }

