/** grid containers **/

.sm-1 {
  grid-column: span 1;
}

.sm-2 {
  grid-column: span 2;
}

.sm-3 {
  grid-column: span 3;
}

.sm-4 {
  grid-column: span 4;
}

.sm-5 {
  grid-column: span 5;
}

.sm-6 {
  grid-column: span 6;
}

.sm-7 {
  grid-column: span 7;
}

.sm-8 {
  grid-column: span 8;
}

.sm-9 {
  grid-column: span 9;
}

.sm-10 {
  grid-column: span 10;
}

.sm-11 {
  grid-column: span 11;
}
.sm-12 {
  grid-column: span 12;
}

@media (min-width: 48rem) {
  .md-1 {
    grid-column: span 1;
  }

  .md-2 {
    grid-column: span 2;
  }

  .md-3 {
    grid-column: span 3;
  }

  .md-4 {
    grid-column: span 4;
  }

  .md-5 {
    grid-column: span 5;
  }

  .md-6 {
    grid-column: span 6;
  }

  .md-7 {
    grid-column: span 7;
  }

  .md-8 {
    grid-column: span 8;
  }

  .md-9 {
    grid-column: span 9;
  }

  .md-10 {
    grid-column: span 10;
  }

  .md-11 {
    grid-column: span 11;
  }
  .md-12 {
    grid-column: span 12;
  }
}
