footer {
  background-image: url("data:image/svg+xml,%3Csvg width='414' height='202' viewBox='0 0 414 202' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M0 202V41C23.176 50.1146 46.3522 59.2295 78.4875 55.0875C110.623 50.9455 151.717 33.5471 180.838 32.95C209.958 32.3529 227.103 48.5575 247.25 49.3375C267.397 50.1175 290.545 35.4728 318.838 31.5125C347.13 27.5522 380.565 34.276 414 41V202L0 202Z' fill='%23F9B624' fill-opacity='0.266667'/%3E%3Cpath d='M0 202V81.25C28.5574 90.0044 57.1147 98.7588 88.8375 95.9125C120.56 93.0663 155.448 78.6199 179.975 73.2C204.502 67.7801 218.668 71.387 242.075 70.9C265.482 70.413 298.131 65.8322 328.325 66.875C358.519 67.9178 386.26 74.5837 414 81.25V202L0 202Z' fill='%23F9B624' fill-opacity='0.4'/%3E%3Cpath d='M0 202V121.5C27.6825 119.684 55.365 117.868 85.9625 122.363C116.56 126.857 150.072 137.66 175.088 135.3C200.103 132.94 216.621 117.415 245.525 112.588C274.429 107.76 315.719 113.632 345.863 116.9C376.006 120.168 395.003 120.834 414 121.5V202L0 202Z' fill='%23F9B624' fill-opacity='0.533333'/%3E%3Cpath d='M0 202V161.75C29.0088 160.041 58.0172 158.333 88.8375 156.862C119.658 155.392 152.29 154.159 177.388 156.288C202.485 158.416 220.049 163.904 248.113 166.062C276.176 168.221 314.739 167.049 344.138 165.775C373.536 164.501 393.768 163.126 414 161.75V202L0 202Z' fill='%23F9B624'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='414' height='201.25' fill='white' transform='translate(414 202) rotate(-180)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-position: top center;
  color: $brand-black;
  margin-top: 20rem;
  overflow: visible;
  padding: 5rem 0 1rem;
  position: relative;
  z-index: 2;

  .container * {
    font-size: var(--step--3);
  }
}
