/** global colors **/

:root {
    --brand--primary: #f9b624;
    --brand--secondary: #f6421e;
    --brand--secondary--tint: hsl(10, 92%, 40%);
    --brand--tertiary: #525589;
    --brand--tertiary--tint: hsl(237, 25%, 33%);
    --brand--white: #f4e6d2;
    --brand--black: #211c18;
}