---
layout: _layouts/default.njk
---
<article class="grid">
    <header class="sm-col-12 md-col-8">
        <h1>I am a
            <em>web developer</em>
            based in the UK</h1>
        <hr/>
        <p>After spending over 10 years working as a PHP developer, I now help to build websites and web applications using
            VueJS.</p>

        {% include '_components/social-links.njk' %}
    </header>
    <main class="sm-col-12 full-bleed">
        <section class="c-wave-box sm-col-12">
            <div class="grid grid--overlap">
                <div>
                {{ content | safe }}
                </div>
                {% image "assets/images/profile.png", "A profile photo of me, with a beard, looking into the distance", "(min-width: 30em) 50vw, 100vw" %}
            </div>
        </section>
    </main>
</article>