---
layout: _layouts/default.njk
---
<article>
    <header class="header--main">
        <h1>I am a
            <em>web developer</em>
            based in the UK</h1>
        <hr/>
        <p>After spending over 10 years working as a PHP developer, I now help to build websites and web applications using
            VueJS.</p>

        {% include '_components/social-links.njk' %}
    </header>
    <main class="grid sm-col-12 full-bleed">
        <section class="c-wave-box sm-col-12">
            <div class="grid grid--overlap">
                <div>
                {{ content | safe }}
                </div>
                {% image "assets/images/profile.png", "A profile photo of me, with a beard, looking into the distance", "(max-width: 768px) 300px, 300px" %}
            </div>
        </section>
        <section class="c-wave-box tertiary sm-col-12">
            <h2>Latest Notes</h2>
            <ol class="c-carousel">
{%- for post in collections.notes -%}
  <li class="c-carousel__slide">
                            <h3><a href="{{post.url}}">{{ post.data.pagetitle}}</a></h3>
                            <time class="semi-trans">{% niceDate post.date %}</time>
                            <article>
                                <p>{{ post.data.pagesub}}</p>
                            </article>
                        </li>
                        
                        
{%- endfor -%}
</ol>
        </section>
    </main>
</article>