.c-carousel {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style-type: none;
  margin: 0 -5vw;
  overflow-x: scroll;
  padding: 0;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  width: 100vw;
}

.c-carousel::-webkit-scrollbar {
  display: none;
}

.c-carousel__slide {
  flex-shrink: 0;
  font-size: var(--step--1);
  padding-left: 5vw;
  scroll-snap-align: start;
  width: 85%;
}


@media screen and (min-width: 768px) {
  .c-carousel {
    scroll-snap-type: none;
    
    width: 100%;
  }

  .c-carousel__slide {
    flex-shrink: 1;
  }
}