.main-nav a {
    color: var(--brand-black);
    font-size: var(--step--2);
    position: relative;
  }
  
  .main-nav a::after {
      background-color: var(--brand--black);
      border-radius: 100px;
      content: '';
      display: block;
      height: 2px;
      transition: all ease-in-out .2s;
      width: 0;
  }
  
  @media (hover: hover) {
    .main-nav a:hover::after {
      width: 100%;
    }
  }