.listless {
    list-style-type: none;
}

.list--inline {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list--inline li {
    display: inline-block;
}

.list--inline li + li {
    margin-left: 1rem;
}