$directions: "left", "center", "right";

@each $dir in $directions {
  .text-#{$dir} {
    text-align: #{$dir};
  }
}

@each $dir in $directions {
  @media screen and (min-width: $bp-md) {
    .md-text-#{$dir} {
      text-align: #{$dir};
    }
  }
}

@each $dir in $directions {
  @media screen and (min-width: $bp-lg) {
    .lg-text-#{$dir} {
      text-align: #{$dir};
    }
  }
}
@each $dir in $directions {
  @media screen and (min-width: $bp-xl) {
    .xl-text-#{$dir} {
      text-align: #{$dir};
    }
  }
}

.align-center {
  align-items: center;
}
