<footer>
    <div class="container grid grid--auto align-center">
        <nav class="main-nav">
            {% include '_components/social-links.njk' %}
        </nav>
        <p class="md-text-right">&copy; Michael Smedley <a href="https://web.archive.org/web/20070505040241/http://www.michael-smedley.co.uk/" target="_blank" rel="noopener nofollow">2007</a>-{% year %}<br />
        <a href="/credits">Site Credits</a></p>
    </div>
</footer>