<footer>
    <div class="container grid grid--auto align-center">
        <nav class="main-nav">
            {% include '_components/social-links.njk' %}
        </nav>
        <p class="md-text-right">&copy; Michael Smedley 2006-{% year %}<br />
        <a href="/credits">Site Credits</a></p>
    </div>
</footer>