<ul class="listless inline">
    <li>
        <a href="https://twitter.com/smdly" rel="noopener nofollow" target="_blank">Twitter</a>
    </li>
    <li>
        <a href="https://github.com/michaelsmedley" rel="noopener nofollow" target="_blank">Github</a>
    </li>
    <li>
        <a href="mailto:hello@michael-smedley.co.uk">E-mail</a>
    </li>
</ul>