article,
.container {
  margin: 0 auto;
  width: 90vw;

  @media screen and (min-width: $bp-md) {
    max-width: 80ch;
  }
}

.full-bleed {
  margin: 0 -5vw;
  width: 100vw;

  & > * {
    padding: 0 5vw;
  }
  @media screen and (min-width: $bp-md) {
    margin: 0 calc(0px - ((100vw - 80ch) / 2));

    & > * {
      padding: 0 calc(((100vw - 80ch) / 2));
    }
  }
}
