h1 {
  @include mobile-h1;

  @media screen and (min-width: $bp-md) {
    @include desktop-h1;
  }

  hyphens: auto;
  margin-bottom: $spacing-s;
}

h2 {
  @include mobile-h2;

  @media screen and (min-width: $bp-md) {
    @include desktop-h2;
  }
}

em {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-clip: text;
  background-color: $brand-secondary;
  background-image: linear-gradient(
    45deg,
    $brand-secondary,
    $brand-secondary-600
  );
  background-size: 100%;
  display: inline-block;
  font-style: normal;
  padding-bottom: 6px; // seems to be some clipping for low chars like p, g etc.
}

p + * {
  margin-top: $spacing-l;
}
